html, body {
    margin: 0;
    padding: 0;
}


#overlay {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);

    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;

    z-index: 890;
}

#overlay.open {
    opacity: 1;
    visibility: visible;
}

#sidebar {
    position: fixed;
    width: 230px;
    height: 100%;
    background: #ffffff;
    color: #141B34;
    padding: 16px;

    transform: translateX(-100%);
    transition: transform 0.3s;

    z-index: 900;

}

#sidebar.open {
    transform: translateX(0);
}

#mobile-header{
    position: sticky;
    top: 0;
    width: 100%;
    height: 70px;
    background: #ffffff;
    color: #363636;
    display: flex;
    gap: 15px;
    align-items: center;

    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
              0 2px 4px -1px rgba(0, 0, 0, 0.06);
    
    z-index: 1000;          
}

#hamburger{
    width: 50px;
    height: 50px;
    background-color: #ffffff;
    border: none;
    margin: 10px;
}


#tab-bar {
    display: flex;
    justify-content: space-around;
    position: sticky;
    bottom: 0;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
}


.tab-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4px;

    background: none;
    border: none;
    cursor: pointer;
}

.tab-item img {
    width: 24px;
    height: 24px;
    object-fit: contain;
}


.tab-item span {
    font-size: 12px;
}

.list-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
    background-color: #ffffff;
    padding: 0 20px;
    box-sizing: border-box;
}

.filter-btn{
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    color:#363636;
    margin: 10px;
    font-size: 15pt;
    /* border: 1px solid #d1d5db;
    border-radius: 10px; */
    border: none;
    padding: 5px 5px;
}

.status-btn{
    width: 20px;
    height: 20px;
    padding-right: 30px
}

.add-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}

.add-iconpic{
    width: 15px;
    height: 15px;
    padding-right: 30px
}

.status-icon {
    width: 20px;
    height: 20px;
    object-fit: contain;
}


.table-row {
    display: flex;
    align-items: center;
    border-bottom: 1px solid #eee;
    margin-left: 20px;
}

.table-row.header-row{
    background-color: #f8f8f8;
    border-radius: 10px;
}

.table-row.add-newrow {
    display: flex;
    align-items: center;
    color: #7a7a7a;
    border-bottom: 1px solid #eee;
    opacity: 0.8;
    cursor: pointer;
}

.col-fixed {
    width: 35%;
    min-width: 160px;
    padding: 12px 8px;
    display: flex;
    align-items: center;
    gap: 8px;
}

.scroll-area {
    display: flex;
    overflow-x: auto;
    flex: 1;
    gap: 15px;
    scrollbar-width: none;       /* Firefox */
    -ms-overflow-style: none;   /* IE, 구형 Edge */
}

.col-fixed.tititle {
    visibility: hidden; /* 일단 헤더의 '제목'은 숨김 */
}

.scroll-area::-webkit-scrollbar {
    display: none;                /* Chrome, Safari, 최신 Edge */
}

.col {
    min-width: 100px;
    white-space: nowrap;
    padding: 12px 8px;
    display: flex;
    align-items: center;
}

.task-info {
    display: flex;
    flex-direction: column;
}

.task-title {
    font-size: 14px;
    font-weight: 500;
}

.task-sub {
    font-size: 12px;
    color: #888;
}

h2 listname{
    margin: 60px 0px 0px 0px;
}

.tagg {
    background-color: #e6ffaa;
    border-radius: 20px;
    padding: 5px 15px;
    font-size: 12px;
    white-space: nowrap;
    display: inline-flex;
    align-items: center;
    text-align: center;
    width: fit-content;
}

.T_p1 { background-color: #E53E3E; color: white;}
.T_p2 { background-color: #E67E22; color: white;}
.T_p3 { background-color: #F6C90E;}
.T_p4 { background-color: #3498DB; color: white;}

.tt1 { background-color: #fffc9c; }
.tt2 { background-color: #e4ff9c; }
.tt3 { background-color: #acff9c; }
.tt4 { background-color: #9cffed; }
.tt5 { background-color: #c39cff; }
.tt6 { background-color: #ff9cfc; }
.tt7 { background-color: #315dd6; color: white; }
.tt8 { background-color: #262c9e; color: white; }
.tt9 { background-color: #27155c; color: white; }
.tt10 { background-color: #150636; color: white; }


.hidden_height_box {
    height: 50px;
    visibility: hidden;
}


#add-task-modal {
    position: fixed;
    inset: 0;
    background: rgba(0,0,0,0.4);
    z-index: 910;

    display: none;
}

#add-task-modal.open {
    display: block;
}

#modal-content {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background: white;
    border-radius: 20px 20px 0 0;
    padding: 24px;
    min-height: 50vh;
    height: 75vh;
}

#modal-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#modal-close-btn{
    background-color: #ffffff;
    color:#363636;
    margin: 10px;
    font-size: 15pt;
    border: none;
    padding: 5px 5px;
}

.hidden_height_box {
    width: 100%;
    visibility: hidden;
}

#add-task-name{
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    margin: 20px 0 10px 0;
}

input:focus {
    outline: none;
}

input[type="date"], select {
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    background: #f9f9f9;
    box-sizing: border-box;
}

input[type="date"]:focus, select:focus {
    border-color: #720eb4;
    background: white;
}

#modal-ok-btn {
    width: 100%;
    padding: 14px;
    margin-top: 50px;
    background: #720eb4;
    color: white;
    border: none;
    border-radius: 12px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
}

#add-task-sub{
    width: 100%;
    padding: 10px 14px;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    font-size: 14px;
    outline: none;
    background: #f9f9f9;
    box-sizing: border-box;
}

/* iPad 11" 이상 */
@media (min-width:820px){

    html, body {
    height: 100vh;
    margin: 0;
    overflow: hidden;
    }

    #app {
    display: flex;
    height: calc(100vh - 70px);
    }

    #mobile-header{
        position: sticky;
        top: 0;
        width: 100%;
        height: 70px;
        background: #ffffff;
        color: #363636;
        display: flex;
        gap: 15px;
        align-items: center;
        z-index: 1000;

        box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 
                    0 2px 4px -1px rgba(0, 0, 0, 0.06);          
    }

    #sidebar {
        position: sticky;
        width: 18vw;
        height: 100%;
        top: 0;
        left: 0;
        background: #ffffff;
        color: #141B34;
        padding: 16px;
        transform: translateX(0px);
        
        box-shadow: 4px 0 6px -1px rgba(0, 0, 0, 0.1), 
                    4px 0 4px -1px rgba(0, 0, 0, 0.06); 
    }

    #content{
        flex:1 ;
        overflow-y: auto ;
        width: 82vw;
        min-height: 0;
        padding: 0 0 50px 50px;
    }

    #hamburger{
        visibility: hidden;
        width: 0;
    }

    #tab-bar {
    left: 18vw;
    width: calc(100% - 18vw);
    display: flex;
    justify-content: space-around;
    bottom: 0;
    right: 0;
    align-items: center;
    background-color: #ffffff;
    border-top: 1px solid #e0e0e0;
    padding: 10px 0;
}

    .tab-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 4px;

        background: none;
        border: none;
        cursor: pointer;
    }

    .tab-item img {
        width: 24px;
        height: 24px;
        object-fit: contain;
    }

    .table-row {
        display: flex;
        align-items: center;
        border-bottom: 1px solid #eee;
        margin-left: 0;
    }

    #modal-content {
        position: fixed;
        top: 70px;
        padding-top: 70px;
        bottom: 0;
        right: 0;
        left: auto;
        width: 400px;
        border-radius: 0;
        overflow-y: auto;

        transform: translateY(-100%);
        transition: transform 0.3s;
    }
    
    #modal-content.open {
        transform: translateY(0%);
    }

    #modal-header {
        display: none;
    }

    #add-task-name{
    width: 100%;
    border: 1px solid #ccc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 20px;
    margin: 0 0 10px 0;
    }
}